html {
    /*    1rem = 16px*/
    font-size: 1rem;
}

body {
    background-color: white;
    /* font-family: 'Staatliches', cursive;
    font-weight: 300; */
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    /*    line-height is 150% of the font size*/
    line-height: 1.5;
    color: black;
}

a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
 }
  
a.skip:focus {
    top:20px;
    color: black;
    text-decoration-style: solid;
}

header{
    background: white url(../img/concrete_seamless.png) center center repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav_links{
    margin: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.nav_item a{
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.nav_item a:hover, a:focus{
   color: white;
}

p {
    margin-bottom: 1.3rem;
}

#header-title{
    font-size: 32px;
    margin: 0px;
}
/*this is a group selection, selecting all the headlines h1-h4*/
h1,
h2,
h3,
h4 {
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    /*  top:0 right:0  bottom:0.5rem left:0*/
    margin: 0 0 0.5rem 0;
    font-size: 3.157rem;
}

h2 {
    /*  top:1.414rem right:0  bottom:0.5rem left:0*/
    margin: 1.414rem 0 1rem 0;
    font-size: 2.369rem;
}

h3 {
    /*  top:1.414rem right:0  bottom:0.5rem left:0*/
    margin: 1.414em 0 0.5rem 0;
    font-size: 1.777rem;
}

h4 {
    /*  top:1.414rem right:0  bottom:0.5rem left:0*/
    margin: 1.414em 0 0.5rem 0;
    font-size: 1.333rem;
}


/*Interactive elements*/

/* link*/

a {
    color: indigo;
}

a:hover {
    color: #B2B1AE;
    text-decoration: none;
}

/*button style*/
/*solid button style*/
.btn-primary {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 2rem;
    border-radius: 3rem;
    /*    top:1 right:2 bottom:1 left:2*/
    /*    the size of button*/
    padding: .6rem 1rem;
    background-color: indigo;
    color: white;
    border: none;
    margin-top: 30px;
}

.btn-primary:hover {
    color: white;
    background-color: black;
    opacity: 0.8;
}

/*outline button style*/
.btn-outline-primary {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 2rem;
    border-radius: 3rem;
    padding: 1rem 2rem;
    color: indigo;
    background-color: rgba(75, 0, 130, 0.4);
    border: 1px indigo solid;
    transition: all 0.5s;
}

.btn-outline-primary:hover {
    color: white;
    background-color: indigo;
    border-color: indigo;
}

/*self-defined class names*/
.view {
    background: white url(../img/concrete_seamless.png) center center repeat;
    padding: 100px 0;
    /* text-align: center; */
    padding-left: 150px;
}

#box{
    height: 375px;
    margin: 20px;
    background-color: #f8f8f8;
}

#box:hover{
    background-color: #f8f8f8;
}

#portfolio-image{
    margin: 20px;
    max-width: 500px;
    float: left;
}

#portfolio-text{
    float: center;
}

.me {
    background-color: #e2e2e2;
}

#break{
    color: black;
    width: 100%;

}

#box1{
    background-color: #cb83101a;
    /* background-color: #f0f0f0; */
    border-radius: 15px 15px 15px 15px;
    height: 180px;
    padding: 20px;
}

#box2{
    background-color: #cb83101a;
    /* background-color: #f0f0f0; */
    border-radius: 15px 15px 15px 15px;
    height: 230px;
    padding: 20px;
}

#designImg{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

#ad{
    width: auto;
    height: auto;
}

#listTitle, #findings{
    color: #cb8310;
}

/*Portfolio thumbnails*/
.portfolio-link img:hover {
    opacity: 0.9;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */

}

/*portfolio modal*/
.portfolio-modal .modal-body {
    position: static;
}

.portfolio-modal {
    overflow: scroll;
}

/*modal box size*/
.portfolio-modal .modal-dialog {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /*    enable the overflow to set the screen no scrolling*/
    /*            overflow:hidden;*/
}

/*content area*/
.portfolio-modal .modal-content {
    /*the paragraph font color*/
    color: #746f6f;
    padding: 0 0 2rem 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*the background-color*/
    background-color: rgb(255, 255, 255);
}

/* PCCS */
.portfolio-modal .modal-content h2 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 3rem;
    color: #cb8310;
}

#NPL{

    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 3rem;
    color: #5a824b;
    
}

#placeholder{
    color: white;
}

#PS{
    width: 900px;
    height: auto;
}

#me{
    width: 350px;
    height: 450px;
}

/*bottom of the modal box including prev, next, back to work*/
.portfolio-modal .modal-footer {
    border: none;
    padding-bottom: 0;
}

.portTitle{
    text-align: center;
}

footer{
    text-align: center;
}

/*the X close icon*/
.portfolio-modal .modal-header .close {
    font-size: 3rem;
    /* padding direction:   top:0 right:1rem bottom:0 left:0*/
    padding: 0 2rem 0 0;
    /*    font-weight: 200;*/
    color: indigo;
}

.portfolio-modal .modal-header {
    border-bottom: none;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

/*modal box prev, next and back to work link color*/
.portfolio-modal a.next,
.portfolio-modal a.prev,
.portfolio-modal a.back {
    color: indigo;
}
